.news-letter-content h1 {
  color: rgb(36, 39, 66);
  font-family: "Roboto-Bold";
  font-size: 2.5rem;
  line-height: 100%;
}

.news-letter-content p,
.news-letter-list li {
  font-family: "Roboto-normal";
  color: rgb(36, 39, 66);
  font-size: 1rem;
  line-height: 1.5;
}

.email-content input::placeholder {
  font-family: "Roboto-normal";
}

.email-content input[type="email"] {
  font-family: "Roboto-normal";
  /*  color: #ff6b60; */
}

label {
  /* Body Small */
  color: rgb(36, 39, 66);
  font-family: "Roboto-bold";
  font-size: 0.75rem;
  line-height: 1.5;
}

.news-letter-form button,
#dismiss-btn {
  /* Body (Bold) */
  color: rgb(255, 255, 255);
  background-color: rgb(36, 39, 66);
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Roboto-bold";
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.success-container .success-title {
  color: rgb(36, 39, 66);
  font-family: "Roboto-bold";
  font-size: 2.5rem;
  line-height: 1;
}

.success-container .success-description {
  /* [object Object] */
  color: rgb(36, 39, 66);
  font-family: "Roboto-normal";
  font-size: 1rem;
  line-height: 1.5;
  height: 80vh;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .success-container .success-title {
    font-size: 3.5rem;
  }
}

.email-error-message {
  /* Body Small */
  color: rgb(255, 97, 85);
  font-family: "Roboto-bold";
  font-size: 0.75rem;
  line-height: 1.5;
}
